## Import Dependencies

In [1]:
import pandas as pd
from datetime import datetime as dt
from sqlalchemy import create_engine, inspect
import csv
from config import db_user, db_password, db_host, db_port, db_name

## Extract csv into DataFrame

In [2]:
csv_file = "data/US_Accidents_Dec20_Updated.csv"
accident_data_df = pd.read_csv(csv_file)
accident_data_df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
csv_file2 = "data/WeatherEvents_Jan2016-Dec2020.csv"
weather_data_df = pd.read_csv(csv_file2)
weather_data_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

## Transform DataFrames

### Accident DataFrame

In [4]:
# Change to date & time columns
accident_data_df['date'] = pd.to_datetime(accident_data_df['Start_Time']).dt.date
accident_data_df['time'] = pd.to_datetime(accident_data_df['Start_Time']).dt.time

# Fix data type
pd.to_datetime(accident_data_df["date"], yearfirst=True, format='%Y-%m-%d')

0         2019-05-21
1         2019-10-07
2         2020-12-13
3         2018-04-17
4         2016-08-31
             ...
2906605   2018-06-28
2906606   2019-01-10
2906607   2020-11-23
2906608   2019-12-29
2906609   2018-03-26
Name: date, Length: 2906610, dtype: datetime64[ns]

In [5]:
# Remove unneccessary columns
transformed_accident = accident_data_df[["ID", "date", "time", "Start_Lat", "Start_Lng", "Description", "Severity", "City", "State", "Visibility(mi)", "Wind_Speed(mph)", "Precipitation(in)", "Weather_Condition"]]
transformed_accident.head()
# transformed_accident.count()

,ID,date,time,Start_Lat,Start_Lng,Description,Severity,City,State,Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition
0,A-1,2019-05-21,08:29:55,34.808868,-82.269157,Accident on Tanner Rd at Pennbrooke Ln.,2,Greenville,SC,10.0,7.0,0.0,Fair
1,A-2,2019-10-07,17:43:09,35.090080,-80.745560,Accident on Houston Branch Rd at Providence Br...,2,Charlotte,NC,10.0,3.0,0.0,Cloudy
2,A-3,2020-12-13,21:53:00,37.145730,-121.985052,Stationary traffic on CA-17 from Summit Rd (CA...,2,Los Gatos,CA,10.0,6.0,0.0,Fair
3,A-4,2018-04-17,16:51:23,39.110390,-119.773781,Accident on US-395 Southbound at Topsy Ln.,2,Carson City,NV,10.0,4.6,NaN,Clear
4,A-5,2016-08-31,17:40:49,26.102942,-80.265091,Accident on I-595 Westbound at Exit 4 / Pine I...,3,Fort Lauderdale,FL,10.0,13.8,NaN,Overcast

In [6]:
#Rename columns
transformed_accident = transformed_accident.rename(columns = {"Start_Time" : "start_time",
                                                            "ID": "id",
                                                            "Start_Lat" : "lat",
                                                            "Start_Lng" : "lng",
                                                            "Description": "description",
                                                            "Severity": "severity",
                                                            "City": "city",
                                                            "State": "state",
                                                            "Visibility(mi)": "visibility",
                                                            "Wind_Speed(mph)": "wind_speed",
                                                            "Precipitation(in)": "precipitation",
                                                            "Weather_Condition": "weather_condition"
                                                            })

transformed_accident.head()

,id,date,time,lat,lng,description,severity,city,state,visibility,wind_speed,precipitation,weather_condition
0,A-1,2019-05-21,08:29:55,34.808868,-82.269157,Accident on Tanner Rd at Pennbrooke Ln.,2,Greenville,SC,10.0,7.0,0.0,Fair
1,A-2,2019-10-07,17:43:09,35.090080,-80.745560,Accident on Houston Branch Rd at Providence Br...,2,Charlotte,NC,10.0,3.0,0.0,Cloudy
2,A-3,2020-12-13,21:53:00,37.145730,-121.985052,Stationary traffic on CA-17 from Summit Rd (CA...,2,Los Gatos,CA,10.0,6.0,0.0,Fair
3,A-4,2018-04-17,16:51:23,39.110390,-119.773781,Accident on US-395 Southbound at Topsy Ln.,2,Carson City,NV,10.0,4.6,NaN,Clear
4,A-5,2016-08-31,17:40:49,26.102942,-80.265091,Accident on I-595 Westbound at Exit 4 / Pine I...,3,Fort Lauderdale,FL,10.0,13.8,NaN,Overcast

## Extract Year & Filter by State

In [7]:
# Change to datetime data type
transformed_accident['date'] = pd.to_datetime(transformed_accident['date'])

# Extract year, month, and day
transformed_accident['year'] = transformed_accident['date'].dt.year
# transformed_accident['month'] = transformed_accident['start_time'].dt.month
# transformed_accident['day'] = transformed_accident['start_time'].dt.day

# Filter only CA & year: 2018
ca_2018_accident = transformed_accident.loc[(transformed_accident["state"] == "CA") & (transformed_accident["year"] == 2018)]
ca_2019_accident = transformed_accident.loc[(transformed_accident["state"] == "CA") & (transformed_accident["year"] == 2019)]

In [8]:
# Sort df by date
accident_ca = ca_2019_accident.sort_values(by = "date")

In [9]:
# Print out df
accident_ca

,id,date,time,lat,lng,description,severity,city,state,visibility,wind_speed,precipitation,weather_condition,year
1762062,A-1762063,2019-01-01,05:58:45,34.229301,-118.259348,At Pennsylvania Ave - Accident.,2,La Crescenta,CA,10.0,3.5,NaN,Clear,2019
1838792,A-1838793,2019-01-01,08:15:05,41.730831,-123.432533,Accident on CA-96 at River Trl.,2,Happy Camp,CA,10.0,4.6,NaN,Clear,2019
1773577,A-1773578,2019-01-01,04:46:00,38.661070,-121.361125,Between I-80 and Hillsdale Blvd - Accident.,2,Sacramento,CA,10.0,9.2,NaN,Clear,2019
1238845,A-1238846,2019-01-01,08:12:27,33.996441,-117.364876,Lane blocked due to accident on CA-60 Eastboun...,2,Riverside,CA,10.0,13.8,NaN,Clear,2019
687134,A-687135,2019-01-01,07:05:30,34.085620,-118.216730,Between Westbound I-5 Acc and Avenue 43 - Acci...,2,Los Angeles,CA,10.0,NaN,NaN,Clear,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720909,A-720910,2019-12-31,04:04:53,33.883411,-117.539063,Right hand shoulder blocked due to accident on...,2,Corona,CA,10.0,20.0,0.0,Mostly Cloudy,2019
240085,A-240086,2019-12-31,13:01:00,34.020578,-117.814393,At CA-57 - Accident.,2,Diamond Bar,CA,10.0,5.0,NaN,Fair,2019
1983248,A-1983249,2019-12-31,18:10:00,33.975263,-117.889186,At S Nogales St - Accident.,2,Rowland Heights,CA,10.0,5.0,0.0,Fair,2019
1664710,A-1664711,2019-12-31,12:43:00,39.314732,-120.203913,At I-80 - Accident.,2,Truckee,CA,10.0,0.0,0.0,Partly Cloudy,2019
2535328,A-2535329,2019-12-31,20:19:00,36.734351,-120.296310,At S San Benito Ave/W Panoche Rd - Accident.,2,Tranquillity,CA,4.0,0.0,0.0,Fair,2019

In [10]:
# Clean the data by dropping duplicates & dropping na
accident_ca.drop_duplicates
#accident_ca.dropna(how="any", inplace=True)

# Reset index & sort
accident_ca = accident_ca.set_index(['date'])
accident_ca.sort_index(inplace=True, ascending=True)
accident_ca.reset_index(inplace=True)

In [11]:
# Count values
accident_ca.count()

date                 168526
id                   168526
time                 168526
lat                  168526
lng                  168526
description          168526
severity             168526
city                 168524
state                168526
visibility           164404
wind_speed           158093
precipitation        134890
weather_condition    164335
year                 168526
dtype: int64

In [12]:
# Print out df
accident_ca

,date,id,time,lat,lng,description,severity,city,state,visibility,wind_speed,precipitation,weather_condition,year
0,2019-01-01,A-1762063,05:58:45,34.229301,-118.259348,At Pennsylvania Ave - Accident.,2,La Crescenta,CA,10.0,3.5,NaN,Clear,2019
1,2019-01-01,A-1838793,08:15:05,41.730831,-123.432533,Accident on CA-96 at River Trl.,2,Happy Camp,CA,10.0,4.6,NaN,Clear,2019
2,2019-01-01,A-1773578,04:46:00,38.661070,-121.361125,Between I-80 and Hillsdale Blvd - Accident.,2,Sacramento,CA,10.0,9.2,NaN,Clear,2019
3,2019-01-01,A-1238846,08:12:27,33.996441,-117.364876,Lane blocked due to accident on CA-60 Eastboun...,2,Riverside,CA,10.0,13.8,NaN,Clear,2019
4,2019-01-01,A-687135,07:05:30,34.085620,-118.216730,Between Westbound I-5 Acc and Avenue 43 - Acci...,2,Los Angeles,CA,10.0,NaN,NaN,Clear,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168521,2019-12-31,A-720910,04:04:53,33.883411,-117.539063,Right hand shoulder blocked due to accident on...,2,Corona,CA,10.0,20.0,0.0,Mostly Cloudy,2019
168522,2019-12-31,A-240086,13:01:00,34.020578,-117.814393,At CA-57 - Accident.,2,Diamond Bar,CA,10.0,5.0,NaN,Fair,2019
168523,2019-12-31,A-1983249,18:10:00,33.975263,-117.889186,At S Nogales St - Accident.,2,Rowland Heights,CA,10.0,5.0,0.0,Fair,2019
168524,2019-12-31,A-1664711,12:43:00,39.314732,-120.203913,At I-80 - Accident.,2,Truckee,CA,10.0,0.0,0.0,Partly Cloudy,2019
168525,2019-12-31,A-2535329,20:19:00,36.734351,-120.296310,At S San Benito Ave/W Panoche Rd - Accident.,2,Tranquillity,CA,4.0,0.0,0.0,Fair,2019

In [13]:
# Export to csv files
accident_ca.to_csv("data/ca_accidents.csv")

### Weather DataFrame

In [14]:
# Add date & time columns
weather_data_df['date'] = pd.to_datetime(weather_data_df['StartTime(UTC)']).dt.date
weather_data_df['time'] = pd.to_datetime(weather_data_df['StartTime(UTC)']).dt.time

# Fix data type
pd.to_datetime(weather_data_df["date"], yearfirst=True, format='%Y-%m-%d')

0         2016-01-06
1         2016-01-07
2         2016-01-07
3         2016-01-08
4         2016-01-08
             ...
6274201   2020-12-14
6274202   2020-12-15
6274203   2020-12-15
6274204   2020-12-23
6274205   2020-12-23
Name: date, Length: 6274206, dtype: datetime64[ns]

In [15]:
# Remove unneccessary columns
transformed_weather = weather_data_df[["EventId", "date", "time", "LocationLat", "LocationLng", "City", "State", "Type", "Severity"]]
transformed_weather.head()

,EventId,date,time,LocationLat,LocationLng,City,State,Type,Severity
0,W-1,2016-01-06,23:14:00,38.0972,-106.1689,Saguache,CO,Snow,Light
1,W-2,2016-01-07,04:14:00,38.0972,-106.1689,Saguache,CO,Snow,Light
2,W-3,2016-01-07,05:54:00,38.0972,-106.1689,Saguache,CO,Snow,Light
3,W-4,2016-01-08,05:34:00,38.0972,-106.1689,Saguache,CO,Snow,Light
4,W-5,2016-01-08,13:54:00,38.0972,-106.1689,Saguache,CO,Snow,Light

In [16]:
# Rename columns
transformed_weather = transformed_weather.rename(columns = {"StartTime(UTC)" : "start_time",
                                                            "EventId": "id",
                                                            "EndTime(UTC)" : "end_time",
                                                            "LocationLat" : "lat",
                                                            "LocationLng" : "lng",
                                                            "City": "city",
                                                            "State": "state",
                                                            "Type": "type",
                                                            "Severity": "severity"})

transformed_weather.head()

    id        date      time      lat       lng      city state  type severity
0  W-1  2016-01-06  23:14:00  38.0972 -106.1689  Saguache    CO  Snow    Light
1  W-2  2016-01-07  04:14:00  38.0972 -106.1689  Saguache    CO  Snow    Light
2  W-3  2016-01-07  05:54:00  38.0972 -106.1689  Saguache    CO  Snow    Light
3  W-4  2016-01-08  05:34:00  38.0972 -106.1689  Saguache    CO  Snow    Light
4  W-5  2016-01-08  13:54:00  38.0972 -106.1689  Saguache    CO  Snow    Light

## Extract Year & Filter by State

In [17]:
# Change to datetime data type
transformed_weather['date'] = pd.to_datetime(transformed_weather['date'])

# Extract year, month, and day
transformed_weather['year'] = transformed_weather['date'].dt.year
# transformed_weather['month'] = transformed_weather['start_time'].dt.month
# transformed_weather['day'] = transformed_weather['start_time'].dt.day

# Filter by CA & year
ca_2018_weather = transformed_weather.loc[(transformed_weather["state"] == "CA") & (transformed_weather["year"] == 2018)]
ca_2019_weather = transformed_weather.loc[(transformed_weather["state"] == "CA") & (transformed_weather["year"] == 2019)]

In [18]:
# Sort by date
weather_ca = ca_2019_weather.sort_values(by = "date")

In [19]:
# Print results
weather_ca.head()

,id,date,time,lat,lng,city,state,type,severity,year
3001000,W-3001927,2019-01-01,05:30:00,37.0816,-121.5968,San Martin,CA,Cold,Severe,2019
2192750,W-2193413,2019-01-01,02:22:00,32.7339,-117.1845,San Diego,CA,Rain,Moderate,2019
3294524,W-3295524,2019-01-01,07:54:00,35.4344,-119.0542,Bakersfield,CA,Fog,Moderate,2019
4968320,W-4969869,2019-01-01,11:55:00,35.2805,-116.6300,Fort Irwin,CA,Fog,Moderate,2019
979813,W-980094,2019-01-01,01:52:00,32.6922,-117.2098,San Diego,CA,Rain,Light,2019

In [20]:
# Clean the data by dropping duplicates & dropping na
weather_ca.drop_duplicates
#weather_ca.dropna(how="any", inplace=True)

# Reset index & sort
weather_ca = weather_ca.set_index(['date'])
weather_ca.sort_index(inplace=True, ascending=True)
weather_ca.reset_index(inplace=True)

In [21]:
# Find number of records
weather_ca.count()

date        60155
id          60155
time        60155
lat         60155
lng         60155
city        59526
state       60155
type        60155
severity    60155
year        60155
dtype: int64

In [22]:
# Print results
weather_ca

,date,id,time,lat,lng,city,state,type,severity,year
0,2019-01-01,W-3001927,05:30:00,37.0816,-121.5968,San Martin,CA,Cold,Severe,2019
1,2019-01-01,W-2193413,02:22:00,32.7339,-117.1845,San Diego,CA,Rain,Moderate,2019
2,2019-01-01,W-3295524,07:54:00,35.4344,-119.0542,Bakersfield,CA,Fog,Moderate,2019
3,2019-01-01,W-4969869,11:55:00,35.2805,-116.6300,Fort Irwin,CA,Fog,Moderate,2019
4,2019-01-01,W-980094,01:52:00,32.6922,-117.2098,San Diego,CA,Rain,Light,2019
...,...,...,...,...,...,...,...,...,...,...
60150,2019-12-31,W-3476946,00:53:00,32.8342,-115.5786,Imperial,CA,Cold,Severe,2019
60151,2019-12-31,W-3527802,08:39:00,37.8900,-121.2264,Stockton,CA,Fog,Severe,2019
60152,2019-12-31,W-3527803,14:13:00,37.8900,-121.2264,Stockton,CA,Fog,Severe,2019
60153,2019-12-31,W-3580791,07:23:00,37.6255,-120.9549,Modesto,CA,Fog,Severe,2019
60154,2019-12-31,W-5967379,19:06:00,40.8034,-124.1128,Eureka,CA,Fog,Severe,2019

In [23]:
# Export to csv's
weather_ca.to_csv("data/ca_weather.csv")

## Create Database Connection

In [24]:
# configure the connection string
rds_connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

# confirm the connection string
# print(rds_connection_string)
        
# connect to the database
engine = create_engine(rds_connection_string)
conn = engine.connect()

OperationalError: (psycopg2.OperationalError) FATAL:  database "project_2_db" does not exist

(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
# Append data to table
weather_ca.to_sql(name='weather', con=conn, if_exists='append', index=False)
accident_ca.to_sql(name='accidents', con=conn, if_exists='append', index=False)

## Query Database

In [ ]:
# Use inspector to find table names
Inspector = inspect(engine)
Inspector.get_table_names()

In [ ]:
# Check weather table
pd.read_sql_query('select * from weather', con=conn).head()

In [ ]:
# Check accidents table
pd.read_sql_query('select * from accidents', con=conn).head()